name: actions
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
jobs:
  test:
    if: ${{ !github.event.pull_request.draft }}
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - "golang:1.21"
          - "golang:1.20"
          - "golang:1.19"
          - "golang:1.18"
          - "golang:1.17"
          - "golang:1.16"
          - "golang:1.15"
          - "golang:1.14"

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Run Unit tests.
        env:
          BUILD_IMAGE: ${{ matrix.go-version }}
        run: make test

      - name: Coverage
        run: bash <(curl -s https://codecov.io/bash)

  build:
    if: ${{ !github.event.pull_request.draft }}
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.14
          cache: true

      - name: Run Build.
        run: go build ./...
